<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Stylesheet.css')}}" />

	<!--
<script>
	function passvalues()
	{
		var firstname=document.getElementById("name").value;
		localStorage.setItem("textvalue",firstname);
		return false;
	}
</script>
-->

	<title>Job Hunting Strategy - Career Development Recommendation</title>

</head>

<body>

	<div class="main">

		<img src="../static/Goodjob.png" alt="Image" height="60" width="60">
		<h1> Welcome to the Job Hunting Strategy! </h1>


		<h2> Please let us know more about you before we give you recommendations!</h2>
		<h3> * Required Field </h3>
		<ul class="userinfo">
			<br><br>

			<form action="submitForm" method="POST">

				<!-- Disply error messages -->
				<ul class="errorMessages"></ul>

				<li>
					<label for="name"> What is your name?* <br></label>
					<input type="text" value="" id="name" name="name" size="30">
					<span style="color:red;"> {{arrow}} </span>
				</li>

				<li>
					<label for="age"> What is your age?* <br></label>
					<input type="text" value="" id="age" name="age" size="30">
					<span style="color:red;"> {{arrow}} </span>
				</li>

				<li> What's your highest degree? <br>
					<select  id="degree" name="degree">
						<option value="Associate">Associate's</option>
						<option value="Bachelor">Bachelor's</option>
						<option value="Master">Master's</option>
						<option value="Doctoral">Doctorate</option>
					</select>
					<span style="color:red;"> {{arrow}} </span>
				</li>

				<li> Which job field you are interested in ?
					<select id="jobField" name="jobField">
						<option value="Data Scientist">Industrial Engineering</option>
						<option value="Data Analyst">Data Science</option>
						<option value=" Business Analyst">Computer Science</option>
					</select>
				</li>

				<li> What's your major for your most recent degree?* <br>
					<select id="major" name="major" >
						<option value=" Industrial Engineering">Industrial Engineering</option>
						<option value="Data Science">Data Science</option>
						<option value="Computer Science">Computer Science</option>
					</select>
					<span style="color:red;"> {{arrow}} </span>
				</li>

				<li> Have your worked before?* 
					<span style=" color:red;"> {{arrow}} </span> <br>
					Yes:
					<input type="radio" name="hasWorked" value="true"><br>
					No:
					<input type="radio" name="hasWorked" value="false">
				</li>

				<li> Year of Experience <br>
					<input type="number" name="yrOfExp" min="0" max="50" size="30">
				</li>

				<li>
					Which follwing skills do you possess? <br>
					<input type="checkbox" name="skillSets" value="Python"> Python <br>
					<input type="checkbox" name="skillSets" value="R"> R <br>
					<input type="checkbox" name="skillSets" value="HTML"> HTML <br>
					<input type="checkbox" name="skillSets" value="CSS"> CSS <br>
					Other:<br>
					<textarea rows="3" cols="40"></textarea><br>
				</li>

				<p style="color:red; size:15"> {{error}} </p>
				<input type="submit" value="Check to see the results!">
			</form>

			<ul class="button">
				<br><br>

			</ul>
		</ul>



	</div>
</body>

</html>