<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Stylesheet.css')}}" />

	<!--
<script>
	function passvalues()
	{
		var firstname=document.getElementById("name").value;
		localStorage.setItem("textvalue",firstname);
		return false;
	}
</script>
-->

	<title>Job Hunting Strategy - Career Development Recommendation</title>

</head>

<body>

	<div class="main">

		<img src="../static/Goodjob.png" alt="Image" height="60" width="60">
		<h1> Welcome to the Job Hunting Strategy! </h1>


		<h2> Please let us know more about you before we give you recommendations!</h2>
		<h3> * Required Field </h3>
		<ul class="userinfo">
			<br><br>

			<form action="submitForm" method="POST">

				<!-- Disply error messages -->
				<p class="errorMessages" style="color:red; size:20"><strong> {{error}}</strong></p>

				<li>
					1.
					<label for="name"> <b> What is your name?* </b><br></label>
					<input type="text" value="" id="name" name="name" size="30">
					<span style="color:red;"> {{arrow}} </span>
				</li>

				<br>

				<li>
					2.
					<label for="age"> <b> What is your age?* </b><br></label>
					<input type="text" value="" id="age" name="age" size="30">
					<span style="color:red;"> {{arrow}} </span>
				</li>

				<br>

				<li>
					3.
					<b>What's your highest degree?</b> <br>
					<select id="degree" name="degree">
						<option value="0">I prefer not to answer</option>
						<option value="0">High School</option>
						<option value="1">Associate's</option>
						<option value="2">Bachelor's</option>
						<option value="3">Master's</option>
						<option value="4">Doctorate</option>
						<option value="5">Professional</option>
					</select>
				</li>

				<br>

				<li>
					4.
					<label for="salary"><b> What is your expected annual salary in $? </b> * <br></label>
					<input type="text" value="" id="salary" name="salary" size="30">
					<span style="color:red;"> {{arrow}} </span>
				</li>

				<br>

				<li>
					5.
					<b>What's your major/field of study?</b> <br>
					<select id="major" name="major">
						<option value="Industrial Engineering">Industrial Engineering</option>
						<option value="Statistics">Statistics</option>
						<option value="Mathmatics">Mathmatics</option>
						<option value="Data Science">Data Science</option>
						<option value="Computer Science">Computer Science</option>
					</select>
				</li>

				<br>

				<!--		<li> Have your worked before?* <span style=" color:red;"> {{arrow}} </span> </br>
							Yes:
							<input type="radio" name="hasWorked" value=true></br>
							No:
							<input type="radio" name="hasWorked" value=false>
		-->

				<li>
					6.
					<b>Year of Experience you have related to Machine Learning </b> <br>
					<select id="yrOfExp" name="yrOfExp">
						<option value="0" name="yr0fExp"> Less than a year </option>
						<option value="1" name="yrOfExp"> 1 - 3 years </option>
						<option value="2" name="yrOfExp"> 3 - 5 years </option>
						<option value="3" name="yrOfExp"> 5 - 10 years </option>
						<option value="4" name="yrOfExp"> More than 10 years </option>
					</select>
				</li>

				<br>

				<li>
					7.
					<b>Which of the following integrated development environments (IDE's) do you use on a regular basis? </b><br>
					<input type="checkbox" name="IDE" value=""> Jupyter Notebook
					<input type="checkbox" name="IDE" value=""> RStudio
					<input type="checkbox" name="IDE" value=""> Pycharm
					<input type="checkbox" name="IDE" value=""> MatLab
				</li>

				<br>

				<li>
					8.
					<b>What programming languages do you use on a regular basis?</b> <br>
					<input type="checkbox" name="launguage" value=""> Python
					<input type="checkbox" name="launguage" value=""> R
					<input type="checkbox" name="launguage" value=""> SQL
					<input type="checkbox" name="launguage" value=""> C, C++
					<input type="checkbox" name="launguage" value=""> JavaScript
					<input type="checkbox" name="launguage" value=""> MatLab
					<input type="checkbox" name="launguage" value=""> Other
				</li>

				<br>

				<li>
					9.
					<b>Which of the following ML algorithms do you use on a regular basis?</b> <br>
					<input type="checkbox" name="algorithms" value=""> Linear or Logistic Regression
					<input type="checkbox" name="algorithms" value=""> Decision Trees or Random Forests
					<input type="checkbox" name="algorithms" value=""> Gradient Boosting Machines <br>
					<input type="checkbox" name="algorithms" value=""> Bayesian Approaches
					<input type="checkbox" name="algorithms" value=""> Convolutional Neural Networks
					<input type="checkbox" name="algorithms" value=""> Generative Adversarial Networks <br>
					<input type="checkbox" name="algorithms" value=""> Other <br>
				</li>

				<br>

				<li>
					10.
					<b>Which of the following machine learning frameworks do you use on a regular basis?</b><br>
					<input type="checkbox" name="framworks" value=""> Scikit-learn
					<input type="checkbox" name="framworks" value=""> TensorFlow
					<input type="checkbox" name="framworks" value=""> Keras
					<input type="checkbox" name="framworks" value=""> RandomForest <br>
					<input type="checkbox" name="framworks" value=""> Xgboost
					<input type="checkbox" name="framworks" value=""> PyTorch
					<input type="checkbox" name="framworks" value=""> Spark MLib
					<input type="checkbox" name="framworks" value=""> Other
				</li>

				<br>

				<li>
					11.
					<b>Which follwing skills do you want go improve? </b><br>
					<input type="checkbox" name="skillSets" value="Python"> Python <br>
					<input type="checkbox" name="skillSets" value="R"> R
					<input type="checkbox" name="skillSets" value="HTML"> HTML
					<input type="checkbox" name="skillSets" value="CSS"> CSS
					<br>Other:<br>
					<textarea rows="1" cols="20"></textarea><br>
				</li>

				<input type="submit" value="Check to see the results!" style="font-size:30px">
			</form>

			<ul class="button">
				<br><br>

			</ul>
		</ul>



	</div>
</body>

</html>