<html>

<head>

	<title>Job Hunting Strategy - Career Development Recommendation</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('../static',    filename='stylesheet.css') }}">
	<script rel = "javascript" type = "text/javascript" src = "../static/home.js"></script>

</head>

<body>

	<!--<iframe frameborder = "1" width = "100" height="100" src="" name="our iframe" id="our iframe" >
	Do you see this?
</iframe>-->
	<img src="../static/fig/Goodjob.png" alt="Image" height="60" width="60">
	<h1> Welcome to the Job Hunting Strategy! </h1>


	<h2> Please let us know more about you before we give you recommendations!</h2>
	<ul class="userinfo">
		<br></br>
		<form class="userinfo_form" action="" method="">
			<li>
				<label for="name"> What is your name? </br></label>
				<input type="text" id="name" name="" size="30"><br>
			</li>
			<li>
				<label for="work_experience"> Have your worked before? </br></label>
				Yes:
				<input type="radio" id="work_experience_positive" name="yesorno" value="">
				No:
				<input type="radio" id="work_experience_negative" name="yesorno" value="">
			</li>
			<li>
				<label for="year_experience"> Year of Work Experience </br></label>
				<input type="number" id="work_experience_year" min="0" max="50" size="30"><br>
			</li>
			<li>
				<label for="mojor"> What's your major for your most recent degree? </br></label>
				<select>
					<option value="Industrial Engineering">Industrial Engineering</option>
					<option value="Data Science">Data Science</option>
					<option value="Computer Science">Computer Science</option>
				</select>
			</li>
			<li>
				<label for="mojor"> Which skill do you poccess? </br></label>
				<input type="checkbox" id="skill_python" name=""> Python <br>
				<input type="checkbox" id="skill_r" name=""> R <br>
				<input type="checkbox" id="skill_html" name=""> HTML <br>
				<input type="checkbox" id="skill_css" name=""> CSS <br>
				Other:<br><input type="text" id="skill_other" name="" size="30"><br><br>
			</li>
			<input type="submit" value="Start Hunting">
		</form>
		<br></br>
	</ul>

	<ul class="button">
		</br>
		<button id="CheckResult" type="button">Check to see the results!</button>
		<!--<li><a class="button" href="">Check to see the results!</a></li>-->
	</ul>


	<table>
		<tr>
			<th> Positions </th>
			<th> Average Salary </th>
			<th> Skill Sets </th>
		</tr>
		<tr>
			<td> Data Scientist </td>
			<td> $95,000 </td>
			<td> Python </td>
		</tr>

	</table>



	<h3> Other links: </h3>

	<p> Please refer to Glassdoor to see more information about the interviews related to the job you are interested: </p>
	<a href="https://www.glassdoor.com/index.htm">
		Glassdoor Webpage </a>

</body>

</html>